/* TOC */

ul.toc a {
	outline: 0 none;
}
ul.toc li.hilite a {
	color: #c00;
}
/* swipe & snap defaults */

div.swipe_snap > div {
	margin: 0 auto;
	background: #fff;
	overflow: hidden;
}
div.swipe_snap ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
div.swipe_snap li img {
	border-width: 0;
	position: absolute;
	opacity: 0;
}
div.swipe_snap li a {
	display: block;
	position: relative;
	color: inherit;
	outline: 0 none;
}
div.swipe_snap li a:last-child img {
	display: block;
	position: relative;
	z-index: 9;
}
div.swipe_snap li > strong {
	position: absolute;
	display: block;
	color: #c00;
	font-family: Georgia, serif;
	text-align: center;
}
div.swipe_snap li span {
	display: block;
}
div.swipe_snap li span a {
	font: 32px serif;
	text-align: center;
	text-decoration: none;
	background: #f3f3f3;
	opacity: 0;
	z-index: 9;
}
div.swipe_snap li.select a,
div.swipe_snap li.select img,
div.swipe_snap li.focus a:first-child,
div.swipe_snap li.focus a:first-child img {
	opacity: 1;
}
div.swipe_snap li:last-child > strong + span,
div.swipe_snap li:first-child > strong + span {
	opacity: 0.7;
}
div.swipe_snap ~ p.page_number {
	text-align: center;
}
/* horizontal swipe */

div.horizontal li {
	display: table-cell;
	vertical-align: top;
}
div.horizontal li:first-child > strong {
	right: 50%;
}
div.horizontal li:last-child > strong {
	left: 50%;
}
/* to display scrollbar & on desktop */

div.isMouse > div {
	border: 3px solid #f6f6f6;
}
div.isMouse.scrollbar.horizontal > div {
	overflow-x: auto;
}
div.isMouse.scrollbar.vertical > div {
	overflow-y: scroll;
}
/* vertical swipe */

div.vertical {
	position: relative;
}
div.vertical li span:first-child {
	overflow: hidden;
}
div.vertical li:first-child > strong {
	top: 0;
}
div.vertical li:last-child > strong {
	bottom: 0;
}
div.vertical li > strong sub {
	font-size: 1em;
}
/* prefixed css3 */

div.vertical li:last-child > strong {
	-o-transform:	rotate(180deg);	-ms-transform:		rotate(180deg);
	-moz-transform:	rotate(180deg);	-webkit-transform:	rotate(180deg);
	transform:	rotate(180deg);
}
@media screen {
	div.enable li.swipe_out a:last-child img,
	div.enable li.swipe_out + li.select a:first-child + a img {
		-moz-transition:	opacity 0.2s 0.6s;
		-webkit-transition:	opacity 0.2s 0.6s;	transition:	opacity 0.2s 0.6s;
	}
	div.enable li.swipe_out span a,
	div.enable li.select.fade a + a + a:last-child img,
	div.enable li.select.swipe_out a + a + a:last-child img {
		-moz-transition:	opacity 0.3s 0.9s;
		-webkit-transition:	opacity 0.3s 0.9s;	transition:	opacity 0.3s 0.9s;
	}
	li.select.fade span a,
	li.select.fade a:first-child + a img,
	li.select.swipe_out.fade a:first-child + a img {
		-moz-transition:	opacity 0.5s;
		-webkit-transition:	opacity 0.5s;		transition:	opacity 0.5s;
	}
	li.select.swipe_out a + a + a:last-child img {
		-moz-transition:	opacity 0s 0.9s;
		-webkit-transition:	opacity 0s 0.9s;	transition:	opacity 0s 0.9s;
	}
	li.select a + a + a:last-child img,
	li.swipe_out + li.select a:first-child + a img,
	li.swipe_out a:last-child img, li.swipe_out span a {
		-moz-transition:	opacity 0s 0.6s;
		-webkit-transition:	opacity 0s 0.6s;	transition:	opacity 0s 0.6s;
	}
	li.select + li.swipe_out a:last-child img,
	li.swipe_out.select a:first-child + a img,
	li.swipe_out.select a:last-child img,
	li.swipe_out + li.select span a,
	li.swipe_out + li.focus span a,

/* standardize rewind */

	li.focus a:last-child img,
	li.swipe_out.focus span a,
	li.swipe_out.select span a,
	li.swipe_out.select + li span a,
	li.swipe_out.select + li.focus span a,
	li.swipe_out + li.select + li a + a:last-child img,
	div.enable li.swipe_out.focus a:first-child img,
	div.enable li.swipe_out.focus span a:first-child,
	div.enable li.swipe_out.select a:first-child img {
		-moz-transition:	opacity 0s;
		-webkit-transition:	opacity 0s;	transition:	opacity 0s;
	}
}